$bgColor: rgba(255, 255, 255, 0.45);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url("../img/bg.jpg");
  background-size: cover;
  color: $bgColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1 {
  height: 2em;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 2em;
  overflow: hidden;
  text-align: center;
}

.broadcast {

  overflow: hidden;
  background: $bgColor;
  margin: 0 auto;
//  padding: 10px;
  text-align: center;

  video {
    background: white;
    border: 1px solid #999;
    margin: 0px auto 10px auto;
    height: 180px;
    width: 239px;
  }
  section {
    display: inline-block;
    margin: 10px 20px;
  }
}

footer {
  padding: 26px;
}

.monotron {
  width: 525px;
}

g.knob {
  transform-origin: 50% 50%;
}

g.keyboard {
  .pressed {
    fill: #fbc562;
  }
}

.local {
  g.knob {
    &:hover {
      cursor: all-scroll;
    }
  }
  g.keyboard {
    &:hover {
      cursor: pointer;
    }
  }
}


// Hack to allow double click events on knobs
* {
  user-select: none;
  -webkit-user-select: none;
}

.dragging * {
  cursor: crosshair
}