<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC TEST</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/main.css"/>
</head>
<body>

<h1>Monotron Multiplayer</h1>

<section class="broadcast">
    <section class="local">
        <video id="myVideo" autoplay="autoplay" controls muted="true"></video>
        <div class="monotron">
            {{> monotron}}
        </div>
    </section>

    <section class="remote">
        <video id="yourVideo" autoplay="autoplay" controls muted="true"></video>
        <div class="monotron">
            {{> monotron}}
        </div>
    </section>

</section>



<footer>
    <h2>Footer</h2>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="static/libs/jquery/dist/jquery.min.js"></script>
<script src='static/js/adapter.js'></script>
<script src="static/js/main.js"></script>

<script src="static/js/utils.js"></script>
<script src="static/js/widgets.js"></script>
<script src="static/js/monotron.js"></script>

</body>
</html>