<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monotron Multiplayer</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/main.css"/>
</head>
<body>

<h1>Monotron Multiplayer</h1>

<section class="broadcast">
    <section class="local">
        <video id="myVideo" autoplay="autoplay" muted="true"></video>
        <div class="monotron">
            {{> monotron}}
        </div>
    </section>

    <section class="remote">
        <video id="yourVideo" autoplay="autoplay" muted="true"></video>
        <div class="monotron">
            {{> monotron}}
        </div>
    </section>

</section>



<footer>
    <h2>Footer</h2>
</footer>

<!--External libs-->
<script src="/socket.io/socket.io.js"></script>

<!--Own stuff-->
<script src="static/bundles/main.js"></script>

</body>
</html>